<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.maitian.starmily">

    <application
        android:name="com.maitian.starmily.application.AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup,icon,theme,label">
        <activity android:name="com.maitian.starmily.activity.FindTopicActivity"></activity>
        <activity android:name="com.maitian.starmily.activity.FindServiceActivity" />
        <activity android:name="com.maitian.starmily.activity.FindVoteDetailActivity" />
        <activity android:name="com.maitian.starmily.activity.FindVoteActivity" />
        <activity android:name="com.maitian.starmily.activity.FindWelfareExchangeActivity" />
        <activity android:name="com.maitian.starmily.activity.FindWelfareActivity" />
        <activity android:name="com.maitian.starmily.activity.RiceCircleStarActivity" />
        <activity android:name="com.maitian.starmily.activity.LoginActivity" />
        <activity android:name="com.maitian.starmily.activity.RiceCircleDetailActivity" />
        <activity android:name="com.maitian.starmily.activity.HomeWelfareActivity" />
        <activity android:name="com.maitian.starmily.activity.HomePromotionsActivity" />
        <activity android:name="com.maitian.starmily.activity.HomeNewsActivity" />
        <activity android:name="com.maitian.starmily.activity.HomeHitListActivity" />
        <activity android:name="com.maitian.starmily.activity.MyPostsActivity" />
        <activity android:name="com.maitian.starmily.activity.MySettingPrivacyActivity" />
        <activity android:name="com.maitian.starmily.activity.MyUpdatePwdActivity" />
        <activity android:name="com.maitian.starmily.activity.MySettiingsActivity" />
        <activity android:name="com.maitian.starmily.activity.MyMemberCentreActivity" />
        <activity android:name="com.maitian.starmily.activity.MyPaurseDetailActivity" />
        <activity android:name="com.maitian.starmily.activity.MyPurseActivity" />
        <activity android:name="com.maitian.starmily.activity.MyTaskActivity" />
        <activity android:name="com.maitian.starmily.activity.MyAttentionActivity" />
        <activity
            android:name="com.maitian.starmily.activity.LogoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppStartLogo"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.maitian.starmily.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.maitian.starmily.activity.MyActivity" />
        <activity android:name="com.maitian.starmily.activity.MyUserInfoActivity" />
        <activity android:name="com.maitian.starmily.activity.MyMessageActivity" />
        <activity android:name="com.maitian.starmily.activity.MyLegalizeActivity" />
        <activity android:name="com.maitian.starmily.activity.MyBindPhoneActivity" />
        <activity android:name="com.maitian.starmily.activity.MyUpdateInfoActivity" />
        <activity android:name="com.maitian.starmily.activity.MyAboutActivity" />
    </application>

</manifest>